
body {
    background-color: rgb(9, 44, 23);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}
.menu {
    display: flex;
    flex-direction: row; /* Display containers in a row */
    align-items: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    flex: 1;
    text-decoration: none;
    
    
}
#menu-right {
        
justify-content: flex-end;
        
}
a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Make links inherit the color from their parent */
    display: block; /* Make the anchor tag a block element */
}

.hero {
    padding: 1em;
}

.container {
    display: flex;
    justify-content: center;
    
}

.col-left, .col-right .row {
    padding: 1em;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    text-shadow: 0 0 5px black;
}

.col-left {
    flex: 10;
    width: 600px;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /* Adjust height as needed */
}

.col-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
}

.col-right .row {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px; /* Adjust height as needed */
}

.leaderboard {
    margin-top: 2em;
    background-color: #013220;
    padding: 1em;
    border-radius: 10px;
}

.leaderboard h1 {
    margin-top: 0;
}

.leaderboard .leaders {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.leaderboard .leaders li {
    margin-bottom: 0.5em;
}
li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.leaderboard {
    color: white;
    flex: .25;
}
link {
    text-decoration: none;
}
#menu-left{
    display: inline-block;
    flex-direction: row;
    margin: auto;
    text-align: left;
    text-decoration: none;
}

    .menu-item {
        display: inline-block;
        padding: 10px;
        list-style-type: none;
        text-decoration: none;
    }
    

.hero {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.container {
    background-color: rgb(9, 44, 23);
    color: white;
    width: 80%;
    height: 70vh;
    margin-top: 20px;
    padding: 1em;
    display: flex;
    gap: 1em;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    background-size: cover;
    text-decoration: none;
    
}

.col-left {
    background-color: black;
    flex: 5;
    border: 2px solid black;
    border-radius: 20px;
    background-size: cover;
    transition: transform 0.3s ease;
    text-decoration: none;
    height: 100%;
    
}
.col-left:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.col-right {
    flex: 1.5;
    
    flex-direction: column;
    display: flex;
    gap: 1em;
    background-size: cover;
    text-decoration: none;
}
.row{
    flex: 1;
    border: 2px solid black;
    border-radius: 20px;
    background-size: cover;
    text-decoration: none;
}
.row {
    transition: transform 0.3s ease;
    
}
.row:hover {
    transform: scale(1.02);
    cursor: pointer;
}
h1 {
    padding: 10px;
    text-decoration: none;
}
